.about {
    overflow: hidden;
    height: 100%;
    z-index: 1;
}

.about p {
    padding-top: 10.781vw;
}

.circle{
    width: 1.771vw;
    height: 1.771vw;

    border-radius: 50%;
    background-color: var(--color-white);

}

.about h1{
    display: flex;
    align-items: center;
    gap: 0.729vw;
    color: var(--color-white);
}


.wrapper {
    position: relative;
    width: 100%;
    height: 56.25vw;
}

.wrapper p{
    padding-top: 0;
    color: var(--color-white);
}

.circleAnimation {
    position: absolute;
    top: 19.271vw;
    left: 29.844vw;
    width: 40.26vw;
    height: 40.26vw;

    border-radius: 50%;
    background-color: var(--color-blue);

    z-index: -1 ;

}

.rectangleWhite {
 width: 100%;
 height: 40vw;
 background-color: var(--color-white);
    border-radius: 1.563vw;
margin-top: 2.813vw;
}