.services {
    position: relative;
    overflow: hidden;
    margin-top: 2vw;
}

.circle {
    width: 1.771vw;
    height: 1.771vw;

    border-radius: 50%;
    background-color: var(--color-blue);

}

.services h2 {
    display: flex;
    align-items: center;
    gap: 0.729vw;
}

.line {
    width: 100%;
    height: 0.05vw;
    background-color: var(--color-blue);

    margin-top: 7.031vw;
}

.wrapper {
    margin-top: 1.979vw;
    display: flex;
    gap: 0.421vw;
}

.card {

    text-decoration: none;

    display: flex;
    flex-direction: column;

    cursor: pointer;
    flex-shrink: 0;

    width: 32.813vw;
    height: 38.906vw;
    border: 0.1vw solid var(--color-blue);
    border-radius: 0.781vw;

    padding: 0.938vw;

    transition: all 0.15s ease-in-out;
}


.card:hover {
    background-color: var(--color-blue-dark);
}

.card:hover span,
.card:hover h3,
.card:hover p {
    color: var(--color-white);
}

.card span {
    font-weight: 900;
}

.card h3 {
    margin-top: 1.51vw;
    overflow: hidden;
}

.card h3 span {
    display: block;
    font-size: 3.339vw;
    font-weight: 500;

    transform: translateY(200%);
}

.card p {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .services {
        margin-top: 9vw;
    }

    .circle {
        width: 3.771vw;
        height: 3.771vw;
    }

    .card {

        width: 69.2vw;
        height: 113.4vw;
        border: 0.1vw solid var(--color-blue);
        border-radius: 0.781vw;

        padding: 1.938vw;

    }

    .card h3 {
        margin-top: 3.51vw;
    }

    .card h3 span {
        font-size: 6.41vw;
    }


    .card span {
        font-size: 4gvw;
    }
}