.button {

    display: flex;
    align-items: center;
    gap: 1.302vw;

    white-space: nowrap;

    cursor: pointer;

    width: 27.656vw;
    height: 3.177vw;
    padding-inline: 0.99vw;

    border: none;
    border-radius: 0.521vw;

    background-color: var(--color-blue);

    font-size: 1.042vw;
    font-weight: 700;
    color: var(--color-white);
}

.line {
    width: 13.438vw;
    background-color: var(--color-white);
    height: 0.15vw;
}

@media screen and (max-width: 500px) {
    .button {
        width: 65.844vw;
        height: 7.564vw;
        font-size: 2.48vw;
        border-radius: 0.8vw;
        padding-inline: 1.99vw;


        gap: 2.296vw;
    }

    .line {
        width: 31.992vw;
    }

    .button svg {
        width: 2.108vw;
        height: 3.596vw;
    }
}