.footer {
  background-color: var(--color-white);
}

.textStroke {
  color: transparent;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 0.20vw #004b94;

  font-size: 19.167vw;
  font-weight: 900;
}

.logo {
  height: 23.177vw;

  margin-top: 7vw;
}

.wrapper {
  padding-top: 7.708vw;

  display: flex;
  justify-content: space-around;
  width: 56.563vw;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  cursor: pointer;
  color: var(--color-blue);

}

.wrapper ul li:first-of-type {
  margin-top: 0.5vw;
}

.wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.wrapper address a {
  font-style: normal;
  color: var(--color-blue);
}

@media screen and (max-width: 768px) {

  .footer{
    overflow: hidden;
  }

  .wrapper {
    flex-direction: column;
    gap: 14vw;
  }

  .wrapper ul {
    gap: 3vw;
  }

  .wrapper nav ul li a,
  .wrapper address ul li a {
    font-style: normal;
    color: var(--color-blue);
    font-size: 3.5vw;
  }
}